services:
  app:
    image: portainer/portainer:latest
    container_name: portainer
    restart: always
    expose:
      - 80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer_data:/data
    environment:
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - VIRTUAL_PORT=9000
    command: -H unix:///var/run/docker.sock
    networks:
      - default
      - reverse-proxy

volumes:
  portainer_data:

networks:
  reverse-proxy:
    external: true
